<configuration>
	<configSections>
		<sectionGroup name="ursa">
			<section name="core" itemType="URSA.Configuration.UrsaConfigurationSection, URSA" />
		</sectionGroup>
	</configSections>
	<ursa>
		<core installerAssemblyNameMask="URSA*"
			  serviceProviderType="URSA.ComponentModel.WindsorComponentProvider, URSA.CastleWindsor"
			  converterProviderType="URSA.Web.Converters.DefaultConverterProvider, URSA" />
	</ursa>
</configuration>