<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="RDeF.Contracts" version="0.1.0" targetFramework="net461" />
  <package id="RDeF.Core" version="0.1.0" targetFramework="net461" />
  <package id="RDeF.Mapping.Attributes" version="0.1.0" targetFramework="net461" />
  <package id="RDeF.Mapping.Fluent" version="0.1.0" targetFramework="net461" />
  <package id="RollerCaster" version="1.0.0" targetFramework="net461" />
  <package id="Sprint.Filter.OData" version="1.2.2.0" targetFramework="net461" />
  <package id="StyleCop.Analyzers" version="1.0.2" targetFramework="net461" developmentDependency="true" />
  <package id="Tavis.UriTemplates" version="1.1.1" targetFramework="net461" />
</packages>