<?xml version="1.0" encoding="utf-8"?>
<Root>
    <Parameters>
        <Parameter name="excludebyattribute">*.ExcludeFromCodeCoverage*</Parameter>
        <Parameter name="filter">"+[URSA*]* -[*Tests]*"</Parameter>
        <Parameter name="register">administrator</Parameter>
		<Parameter name="mergebyhash" />
		<Parameter name="noisolation" />
    </Parameters>
</Root>