<?xml version="1.0" encoding="utf-8"?>
<Root>
    <Parameters>
        <Parameter name="excludebyattribute">*.ExcludeFromCodeCoverage*;*.GeneratedCodeAttribute*</Parameter>
        <Parameter name="filter">"+[URSA*]* -[*Tests]* -[*Example*]* -[*CastleWindsor]* -[*Proxy]*"</Parameter>
        <Parameter name="register">user</Parameter>
        <Parameter name="hideskipped">all</Parameter>
        <Parameter name="mergebyhash"></Parameter>
    </Parameters>
</Root>