<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="romanticWeb" type="RomanticWeb.Configuration.ConfigurationSectionHandler, RomanticWeb" />
        <sectionGroup name="ursa">
            <section name="core" type="URSA.Configuration.UrsaConfigurationSection, URSA" />
        </sectionGroup>
    </configSections>
    <ursa>
        <core installerAssemblyNameMask="URSA*" serviceProviderType="URSA.ComponentModel.WindsorComponentProvider, URSA.CastleWindsor" converterProviderType="URSA.Web.Converters.DefaultConverterProvider, URSA" />
    </ursa>
    <romanticWeb>
        <factories>
            <factory name="http" metaGraphUri="meta://ursa/">
                <ontologies>
                    <add prefix="hydra" uri="http://www.w3.org/ns/hydra/core#" />
                    <add prefix="guid" uri="http://openguid.net/rdf#" />
                    <add prefix="ursa" uri="http://github.io/ursa/vocabulary#" />
                </ontologies>
                <mappingAssemblies>
                    <add assembly="URSA.Http.Description" />
                </mappingAssemblies>
            </factory>
        </factories>
    </romanticWeb>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Remotion.Linq" publicKeyToken="fee00910d6e5f53b" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.15.15.0" newVersion="1.15.15.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>