/*
Error: File to import not found or unreadable: bootstrap-sass-official/assets/stylesheets/_bootstrap.scss.
       Load paths:
         D:/Users/KAROLS~1/Documents/Visual Studio 2013/Projects/URSA/URSA.Client/bower_components
         Compass::SpriteImporter
         D:/Users/KAROLS~1/Documents/Visual Studio 2013/Projects/URSA/URSA.Client/app/styles
         C:/Program Files/Ruby/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets
        on line 3 of D:/Users/Karol Szczepañski/Documents/Visual Studio 2013/Projects/URSA/URSA.Client/app/styles/main.scss

1: $icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
2: // bower:scss
3: @import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
4: // endbower
5: 
6: .browsehappy {
7:   margin: 0.2em 0;
8:   background: #ccc;

Backtrace:
D:/Users/Karol Szczepañski/Documents/Visual Studio 2013/Projects/URSA/URSA.Client/app/styles/main.scss:3
C:/Program Files/Ruby/lib/ruby/gems/2.2.0/gems/sass-3.4.18/lib/sass/tree/import_node.rb:67:in `rescue in import'
C:/Program Files/Ruby/lib/ruby/gems/2.2.0/gems/sass-3.4.18/lib/sass/tree/import_node.rb:45:in `import'
C:/Program Files/Ruby/lib/ruby/gems/2.2.0/gems/sass-3.4.18/lib/sass/tree/import_node.rb:28:in `imported_file'
C:/Program Files/Ruby/lib/ruby/gems/2.2.0/gems/sass-3.4.18/lib/sass/tree/import_node.rb:37:in `css_import?'
C:/Program Files/Ruby/lib/ruby/gems/2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:311:in `visit_import'
C:/Program Files/Ruby/lib/ruby/gems/2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Program Files/Ruby/lib/ruby/gems/2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
C:/Program Files/Ruby/lib/ruby/gems/2.2.0/gems/sass-3.4.18/lib/sass/stack.rb:79:in `block in with_base'
C:/Program Files/Ruby/lib/ruby/gems/2.2.0/gems/sass-3.4.18/lib/sass/stack.rb:115:in `with_frame'
C:/Program Files/Ruby/lib/ruby/gems/2.2.0/gems/sass-3.4.18/lib/sass/stack.rb:79:in `with_base'
C:/Program Files/Ruby/lib/ruby/gems/2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `visit'
C:/Program Files/Ruby/lib/ruby/gems/2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
C:/Program Files/Ruby/lib/ruby/gems/2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:52:in `map'
C:/Program Files/Ruby/lib/ruby/gems/2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:52:in `visit_children'
C:/Program Files/Ruby/lib/ruby/gems/2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
C:/Program Files/Ruby/lib/ruby/gems/2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
C:/Program Files/Ruby/lib/ruby/gems/2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
C:/Program Files/Ruby/lib/ruby/gems/2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `block in visit'
C:/Program Files/Ruby/lib/ruby/gems/2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
C:/Program Files/Ruby/lib/ruby/gems/2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Program Files/Ruby/lib/ruby/gems/2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:157:in `visit'
C:/Program Files/Ruby/lib/ruby/gems/2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:8:in `visit'
C:/Program Files/Ruby/lib/ruby/gems/2.2.0/gems/sass-3.4.18/lib/sass/tree/root_node.rb:36:in `css_tree'
C:/Program Files/Ruby/lib/ruby/gems/2.2.0/gems/sass-3.4.18/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
C:/Program Files/Ruby/lib/ruby/gems/2.2.0/gems/sass-3.4.18/lib/sass/engine.rb:378:in `_render_with_sourcemap'
C:/Program Files/Ruby/lib/ruby/gems/2.2.0/gems/sass-3.4.18/lib/sass/engine.rb:295:in `render_with_sourcemap'
C:/Program Files/Ruby/lib/ruby/gems/2.2.0/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
C:/Program Files/Ruby/lib/ruby/gems/2.2.0/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
C:/Program Files/Ruby/lib/ruby/gems/2.2.0/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:209:in `each'
C:/Program Files/Ruby/lib/ruby/gems/2.2.0/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
C:/Program Files/Ruby/lib/ruby/gems/2.2.0/gems/compass-1.0.3/lib/compass/sass_compiler.rb:40:in `compile!'
C:/Program Files/Ruby/lib/ruby/gems/2.2.0/gems/compass-1.0.3/lib/compass/commands/update_project.rb:49:in `perform'
C:/Program Files/Ruby/lib/ruby/gems/2.2.0/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
C:/Program Files/Ruby/lib/ruby/gems/2.2.0/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
C:/Program Files/Ruby/lib/ruby/gems/2.2.0/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
C:/Program Files/Ruby/lib/ruby/gems/2.2.0/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
C:/Program Files/Ruby/lib/ruby/gems/2.2.0/gems/compass-1.0.3/bin/compass:30:in `block in <top (required)>'
C:/Program Files/Ruby/lib/ruby/gems/2.2.0/gems/compass-1.0.3/bin/compass:44:in `call'
C:/Program Files/Ruby/lib/ruby/gems/2.2.0/gems/compass-1.0.3/bin/compass:44:in `<top (required)>'
C:/PROGRA~1/Ruby/bin/compass:23:in `load'
C:/PROGRA~1/Ruby/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: bootstrap-sass-official/assets/stylesheets/_bootstrap.scss.\A        Load paths:\A          D:/Users/KAROLS~1/Documents/Visual Studio 2013/Projects/URSA/URSA.Client/bower_components\A          Compass::SpriteImporter\A          D:/Users/KAROLS~1/Documents/Visual Studio 2013/Projects/URSA/URSA.Client/app/styles\A          C:/Program Files/Ruby/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets\A         on line 3 of D:/Users/Karol Szczepañski/Documents/Visual Studio 2013/Projects/URSA/URSA.Client/app/styles/main.scss\A \A 1: $icon-font-path: \"../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/\";\A 2: // bower:scss\A 3: @import \"bootstrap-sass-official/assets/stylesheets/_bootstrap.scss\";\A 4: // endbower\A 5: \A 6: .browsehappy {\A 7:   margin: 0.2em 0;\A 8:   background: #ccc;"; }
