<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="rdef.net" type="RDeF.Configuration.RdefNetConfigurationSection, RDeF.Core" />
        <sectionGroup name="ursa">
            <section name="core" type="URSA.Configuration.UrsaConfigurationSection, URSA.Core" />
            <section name="description" type="URSA.Configuration.DescriptionConfigurationSection, URSA.Http.Description" />
        </sectionGroup>
    </configSections>
    <ursa>
        <core installerAssemblyNameMask="URSA*" serviceProviderType="URSA.ComponentModel.WindsorComponentProvider, URSA.CastleWindsor" controllerActivatorType="URSA.Web.DefaultControllerActivator, URSA.Core" converterProviderType="URSA.Web.Converters.DefaultConverterProvider, URSA.Core" />
        <description defaultStoreFactoryName="in-memory" hypermediaMode="SameGraph" typeDescriptionBuilderType="URSA.Web.Http.Description.HydraCompliantTypeDescriptionBuilder, URSA.Http.Description" />
    </ursa>
    <rdef.net>
        <factories>
            <add name="in-memory">
                <qiris>
                    <add prefix="hydra" iri="http://www.w3.org/ns/hydra/core#" />
                    <add prefix="shacl" iri="http://www.w3.org/ns/shacl#" />
                    <add prefix="guid" iri="http://openguid.net/rdf#" />
                    <add prefix="ursa" iri="http://alien-mcl.github.io/URSA/vocabulary#" />
                    <add prefix="odata" iri="http://docs.oasis-open.org/odata/odata/v4.0/" />
                </qiris>
                <mappingAssemblies>
                    <add name="URSA.Http.Description" />
                    <add name="URSA.Example.WebApplication" />
                </mappingAssemblies>
            </add>
            <add name="file">
                <qiris>
                    <add prefix="hydra" iri="http://www.w3.org/ns/hydra/core#" />
                    <add prefix="shacl" iri="http://www.w3.org/ns/shacl#" />
                    <add prefix="guid" iri="http://openguid.net/rdf#" />
                    <add prefix="ursa" iri="http://alien-mcl.github.io/URSA/vocabulary#" />
                    <add prefix="odata" iri="http://docs.oasis-open.org/odata/odata/v4.0/" />
                </qiris>
                <mappingAssemblies>
                    <add name="URSA.Http.Description" />
                    <add name="URSA.Example.WebApplication" />
                </mappingAssemblies>
            </add>
        </factories>
    </rdef.net>
    <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
    <system.web>
        <authentication mode="Windows" />
        <compilation debug="true" targetFramework="4.6.1" />
        <httpRuntime targetFramework="4.5" />
        <customErrors mode="Off" />
    </system.web>
    <system.webServer>
        <httpErrors errorMode="DetailedLocalOnly" />
        <handlers>
            <remove name="OPTIONSVerbHandler" />
            <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
            <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
        </handlers>
        <rewrite>
            <rules>
                <rule name="XML Documentation" stopProcessing="true">
                    <match url="(.*)\.documentation.xml$" />
                    <action type="Rewrite" url="{R:1}?format=xml" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Remotion.Linq" publicKeyToken="fee00910d6e5f53b" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.15.15.0" newVersion="1.15.15.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>