<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="romanticWeb" type="RomanticWeb.Configuration.ConfigurationSectionHandler, RomanticWeb" />
        <sectionGroup name="ursa">
            <section name="description" type="URSA.Configuration.DescriptionConfigurationSection, URSA.Http.Description" />
        </sectionGroup>
    </configSections>
    <ursa>
        <description defaultStoreFactoryName="in-memory" hypermediaMode="SameGraph" />
    </ursa>
    <romanticWeb>
        <factories>
            <factory name="in-memory" metaGraphUri="meta://ursa/">
                <ontologies>
                    <add prefix="hydra" uri="http://www.w3.org/ns/hydra/core#" />
                    <add prefix="ursa" uri="http://alien-mcl.github.io/URSA/vocabulary#" />
                    <add prefix="odata" uri="http://docs.oasis-open.org/odata/odata/v4.0/" />
                </ontologies>
                <mappingAssemblies>
                    <add assembly="URSA.Http.Description" />
                </mappingAssemblies>
            </factory>
        </factories>
    </romanticWeb>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Remotion.Linq" publicKeyToken="fee00910d6e5f53b" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.15.15.0" newVersion="1.15.15.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>