<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="dotNetRDF" version="1.0.3" targetFramework="net45" />
  <package id="FluentAssertions" version="3.3.0" targetFramework="net45" />
  <package id="Fody" version="1.26.4" targetFramework="net45" developmentDependency="true" />
  <package id="HtmlAgilityPack" version="1.4.6" targetFramework="net45" />
  <package id="json-ld.net" version="1.0.4" targetFramework="net45" />
  <package id="Moq" version="4.2.1502.0911" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="NLog" version="3.2.0.0" targetFramework="net45" />
  <package id="Remotion.Linq" version="1.15.15.0" targetFramework="net45" />
  <package id="RomanticWeb" version="0.3.40.0" targetFramework="net45" />
  <package id="RomanticWeb.dotNetRDF" version="0.3.40.0" targetFramework="net45" />
  <package id="RomanticWeb.Fody" version="0.3.40.0" targetFramework="net45" developmentDependency="true" />
  <package id="StyleCop.Error.MSBuild" version="1.0.0" targetFramework="net45" />
  <package id="StyleCop.MSBuild" version="4.7.49.1" targetFramework="net45" developmentDependency="true" />
  <package id="VDS.Common" version="1.2.0" targetFramework="net45" />
</packages>