<!DOCTYPE html>
<html>
	{% include head.html %}
<body>
	{% include header.html %}
	<!-- MAIN CONTENT -->
	<div id="main_content_wrap" class="outer">
		<section id="main_content" class="inner">
		{{ content }}
		</section>
	</div>
	{% include footer.html %}
	<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
		try {
			_gat._getTracker("UA-67908406-1")._trackPageview();
		}
		catch(err) {}
	</script>
</body>
</html>