<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net45" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net45" />
  <package id="Castle.Windsor.Lifestyles" version="0.4.0" targetFramework="net45" />
  <package id="dotNetRDF" version="1.0.3" targetFramework="net45" />
  <package id="Fody" version="1.28.3" targetFramework="net45" developmentDependency="true" />
  <package id="HtmlAgilityPack" version="1.4.6" targetFramework="net45" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Hosting" version="3.0.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="NLog" version="3.2.0.0" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="Remotion.Linq" version="1.15.15.0" targetFramework="net45" />
  <package id="RomanticWeb" version="0.3.136.0" targetFramework="net45" />
  <package id="RomanticWeb.dotNetRDF" version="0.3.136.0" targetFramework="net45" />
  <package id="RomanticWeb.Fody" version="0.3.136.0" targetFramework="net45" developmentDependency="true" />
  <package id="VDS.Common" version="1.2.0" targetFramework="net45" />
</packages>